* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #31c6d4;
}

header {
  height: 100px;
  width: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 32px;
}

header > button {
  font-size: 24px;
  padding: 5px 10px;
}

h2.yellow {
  color: #ffff00;
}

h2.red {
  color: #ff1e1e;
}

main {
  position: relative;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main > .buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

main > .buttons > button {
  background-color: #f8ede3;
  width: 75px;
  height: 40px;
  border-radius: 15px;
}

main > .buttons > button.yellow {
  background-color: #ffff00;
}

main > .buttons > button.red {
  background-color: #ff1e1e;
}

main > .board {
  display: flex;
  background-color: #f8ede3;
  border: 1px solid #000;
  gap: 5px;
  padding: 5px;
}

.columns {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.holes {
  height: 80px;
  width: 80px;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.holes > div {
  transform: translateY(-720%);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all 0.6s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.holes > div.yellow {
  background-color: #ffff00;
  transform: translateY(0);
}

.holes > div.red {
  background-color: #ff1e1e;
  transform: translateY(0);
}

.holes > div.yellow.winner::after,
.holes > div.red.winner::after {
  position: absolute;
  content: '';
  height: 70%;
  width: 70%;
  border-radius: 50%;
  background-color: white;
}
